
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
/*font-family: 'Pinyon Script', cursive;*/

body{
    background-color: black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

#text{
    font-size: 50px;
    color: #F4F2EE;
    text-decoration: underline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#name{
    font-size: 75px;
    color: #F4F2EE;
    text-decoration: underline;
    text-align: center;
    font-family: 'Pinyon Script', cursive;
}
#contact{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #F4F2EE;
    font-size: 30px;
    text-align: center;
}
footer{
    color: #585858;
    text-align: center;
}
/*
        Grid positioning
*/
#star1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}
#star2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}
#star3{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}
#star4{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}
#star5{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}
#star6{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
}
#earth{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}
#star7{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}